@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

//variables
$field-width: 334px;
$standard-margin: 15px;
$button-pressed-color: grey;
$global-info-color: #17a2b8;
$global-blue-color: #0E82CF;
$global-grey-color: #35495E;
$global-container-padding: 15px;

//mixins
@mixin box-shadow-lrb($bottom, $left, $right, $blur, $color) {
    box-shadow: 0px 0px 0px $color, 
        -$left $bottom $blur $color, $right $bottom $blur $color;
 }

 @mixin global-border-radius($top, $bottom) {
     border-bottom-left-radius: $bottom;
     border-bottom-right-radius: $bottom;
     border-top-left-radius: $top;
     border-top-right-radius: $top;
 }

//global css
a {
    color: $global-blue-color;
    text-decoration: none;
}

a:hover {
    color: $global-info-color;
    text-decoration: none;
}

.error-log {
    padding: 10px;
}

#user-register-form {
    max-width: $field-width;
}

#user-register-container .row {
    margin-top: $standard-margin;
    margin-bottom: $standard-margin;
}

.btn-primary:not(:disabled):not(.disabled).active {
    background-color: grey;
}