<template>
  <div id="app">
    <NavBar/>
    <router-view />
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import VueRouter from 'vue-router'
import BootstrapVue from 'bootstrap-vue';
import UserRegistration from './views/UserRegistration.vue';
import UserLogin from './views/UserLogin.vue';
import NavBar from './components/NavBar.vue';
Vue.use(BootstrapVue);

@Component({
  components: {
    UserLogin,
    UserRegistration,
    NavBar,
  },
})

export default class App extends Vue {
  public loggedIn:boolean = false;
}
</script>

<style lang="scss">
@import './assets/styles/custom.scss';

body {
      background: url("./assets/images/jed-villejo-bEcC0nyIp2g-unsplash.jpg") no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
