<template>
  <div class="dashboard">
    <b-container id="dashboard-container">
        <b-row>
            <b-col xs=10>
              <img alt="Vue logo" src="../assets/logo.png">
              <h2>Gebruiker dashboard</h2>
            </b-col>
        </b-row>   
          <b-row>
            <b-col col md="4" xs="10" v-bind:key="tile" v-for="tile in tiles">
                <DashBoardDataTile :tileData="tile"/>
            </b-col>
          </b-row>
          <b-row>
            <b-col md=8 offset-md="2">
              <b-list-group class="error-log">
                <b-list-group-item b-list-group-item variant="danger" v-bind:key="value" v-for="value in errorList">
                  {{ value }}
                </b-list-group-item>
            </b-list-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col xs="12">

            </b-col>
          </b-row>
    </b-container>
  </div>
</template>

<script lang="ts">
    import BootstrapVue from 'bootstrap-vue';
    import { Component, Prop, Vue, Watch } from 'vue-property-decorator';
    import axios from 'axios';
    import BaseTileType from '@/types/BaseTileType';
    import LoginTileType from '@/types/LoginTileType';
    import ProfileTileType from '@/types/ProfileTileType';
    import { TileTypeEnum } from '@/types/TileTypeEnum';
    import DashBoardDataTile from '@/components/DashBoardDataTile.vue'

    @Component({
      components: {
        DashBoardDataTile
      },
    })
    export default class DashBoard extends Vue {
      @Prop() private errorList!: string[];
      @Prop() private tiles: BaseTileType[] = [];

    mounted() {
      this.requestUserTiles();
    }

      public async requestUserTiles() {
        this.errorList = [];
        await axios.get(process.env.VUE_APP_API_BASE_URL + `/user/tiles`, 
        { 
          headers: { 
            'Content-type': 'application/json',
            'Authorization': "Bearer " + this.$cookies.get('authToken'),
          } 
        })  
        .then((response) => {
            if(response.status === 200 && response.data != null) {
              for (var responseTile of response.data) {
                var tile;
                switch(responseTile.tileType) { 
                  case "USER_LOGIN_TILE": { 
                    tile = new LoginTileType(TileTypeEnum.LoginTile, responseTile.userLoginData);
                    this.tiles.push(tile);
                    break; 
                  } 
                  case "USER_PROFILE_TILE": { 
                    tile = new ProfileTileType(TileTypeEnum.ProfileTile, responseTile.userProfileData);
                    this.tiles.push(tile);
                    break; 
                  } 
                  default: { 
                    break; 
                  }  
                } 
              }
            }
        })
        .catch((error) => {
          if (error.response != null) {
            this.errorList = error.response.data.errorMessages;
          } else {
            this.errorList.push('Fout bij het verbinden met de server (Http status 503)');
          }
        })
      }
    }
</script>

<style scoped lang="scss">
@import '../assets/styles/custom.scss';
  #dashboard-container {
    @include box-shadow-lrb(1px, 1px, 1px, 8px, #333);
    @include global-border-radius(0px, 0.8em);

    background: white;
    padding: $global-container-padding;
    margin-bottom: 50px;
  }
</style>
