<template>
  <div class="userregistration">
    <b-container id="user-register-container">
        <b-row>
            <b-col xs=10>
              <img alt="Vue logo" src="../assets/logo.png">
              <h2>Registreren als klant</h2>
              <h6>Heeft u al een account, dan kunt u gelijk <b-link class="router-link" :to="{ path: '/login' }">inloggen</b-link></h6>
            </b-col>
        </b-row>   
      <b-row>
        <b-col md=8 offset-md="2">
          <b-list-group class="error-log"> 
            <b-list-group-item b-list-group-item variant="danger" v-bind:key="value" v-for="value in errorList">
              {{ value }}
            </b-list-group-item>
        </b-list-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col md=4 offset-md="4">
          <b-form id="user-register-form" @submit.prevent="emitUser">
            <b-form-input name="bsn" type="text" placeholder="Bsn" v-model="bsn" bsn/><br/>
            <b-form-input name="fullName" type="text" placeholder="Voor- en achternaam" v-model="fullName" fullName/><br/>
            <b-form-input name="emailAddress" type="text" placeholder="Emailadres" v-model="emailAddress" emailAddress/><br/>
            <b-form-input name="address" type="text" placeholder="Adres" v-model="address" address/><br/>
            <CountryList name="country" :selected="country" @inputData="setCountryListener"/><br/>
            <b-form-input name="zipCode" type="text" placeholder="Postcode" v-model="zipCode" zipcode/><br/>
            <b-form-input name="password" type="password" placeholder="Wachtwoord" v-model="password" password/><br/>
            <b-button :disabled="isDisabled" variant="primary" type="submit" class="submitButton">Registreren</b-button>
        </b-form>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import User from '@/types/User';
import axios from 'axios';
import CountryList from '../components/CountryList.vue';
import AxiosConfig from '../types/AxiosConfig';

@Component({
  components: {
    CountryList,
  },
})
export default class UserRegistration extends Vue {
  public bsn: string = '';
  private fullName: string = '';
  private address: string = '';
  private emailAddress: string = '';
  private country: string = '';
  private zipCode: string = '';
  private password: string = '';

  private isDisabled: boolean = false;
  private user = new User();
  private componentKey = 0;

  @Prop() private errorList!: string[];
  
  public emitUser(): void {
      this.errorList = [];
      this.isDisabled = true

      this.user.setBsn(this.bsn);
      this.user.setFullName(this.fullName);
      this.user.setAddress(this.address);
      this.user.setEmailAddress(this.emailAddress);
      this.user.setCountry(this.country);
      this.user.setZipCode(this.zipCode);
      this.user.setPassword(this.password);
      this.postUser();
  }

public setCountryListener(value:string) {
  this.country = value;
}

  private async postUser() {
    await axios.post(process.env.VUE_APP_API_BASE_URL + `/user`, JSON.stringify(this.user), {
      headers: {
        'Content-type': 'application/json',
      },
    })
    .then((response) => {
        if (response.status === 201) {
            this.$router.push({ name: "login"})
        }
    })
    .catch((error) => {
      if (error.response != null) {
          this.errorList = error.response.data.errorMessages;
      } else {
        this.errorList.push('Fout bij het verbinden met de server (Http status 503)');
      }
    });
    this.isDisabled = false;
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import '../assets/styles/custom.scss';

  #user-register-container {
    @include box-shadow-lrb(1px, 1px, 1px, 8px, #333);
    @include global-border-radius(0px, 0.8em);

    background: white;
    padding: $global-container-padding;
    margin-bottom: 50px;
  }

h3 {
  margin: 40px 0 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}
</style>
