<template>
    <div class="login">
      <b-container id="user-login-container">
        <b-row>
            <b-col xs=10>
              <img alt="Vue logo" src="../assets/logo.png">
              <h2>Welkom bij Harvest Insurances</h2>
              <h6>Log eerst in, heeft u nog geen account? <b-link class="router-link" :to="{ path: '/register' }">Registreer</b-link> dan eerst door een account aan te maken <br/><br/> </h6>
            </b-col>
        </b-row>        
          <b-row>
            <b-col md=8 offset-md="2">
              <b-list-group class="error-log">
                <b-list-group-item b-list-group-item variant="danger" v-bind:key="value" v-for="value in errorList">
                  {{ value }}
                </b-list-group-item>
            </b-list-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col md=4 offset-md="4">
              <b-form id="user-register-form" @submit.prevent="loginUser">
                <b-form-input name="bsn" type="text" placeholder="BSN nummer" v-model="userName"/><br/>
                <b-form-input name="password" type="password" placeholder="Wachtwoord" v-model="password"/><br/>
                <b-button :disabled="isDisabled" variant="primary" type="submit" class="submitButton">Inloggen</b-button>
            </b-form>
            </b-col>
          </b-row>
        </b-container>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch, } from 'vue-property-decorator';
import LoginModel from '@/types/LoginModel';
import axios from 'axios';

@Component
export default class UserLogin extends Vue {
  private userName: string = '';
  private password: string = '';
  private loginModel = new LoginModel();
  private isDisabled: boolean = false;

  @Prop() private errorList!: string[];

    public loginUser(): void {
      this.errorList = [];
      this.isDisabled = true;

      this.loginModel.setUserName(this.userName);
      this.loginModel.setPassword(this.password);

      this.postSession();
    }

    private async postSession() {    
      await axios.post(process.env.VUE_APP_API_BASE_URL + `/user/session`, JSON.stringify(this.loginModel), {
        headers: {
          'Content-type': 'application/json',
        },
      })
      .then((response) => {
          if (response.status === 200 && response.data.token != null) {
            this.$cookies.set('authToken', response.data.token)
            this.$router.push({ name: "dashboard"})
          }
      })
      .catch((error) => {
        if (error.response != null) {
            if(error.response.status === 401)
              this.errorList.push('De gebruikersnaam of het wachtwoord is onjuist')
        } else {
          this.errorList.push('Fout bij het verbinden met de server (Http status 503)');
        }
      });
      this.isDisabled = false;
    }
  }
</script>

<style scoped lang="scss">
@import '../assets/styles/custom.scss';

  #user-login-container {
    @include box-shadow-lrb(1px, 1px, 1px, 8px, #333);
    @include global-border-radius(0px, 0.8em);

    background: white;
    padding: $global-container-padding;
    margin-bottom: 50px;
  }
  
</style>