<template>
    <div class="DashBoardDataTile">
      <b-container class="DashBoardTileContainer">
        <b-row v-if="tileData.type === 0 || tileData.type === 1">  
          <b-col col xs="12" class = "tile-container"> 
            <b-list-group class="data-field" v-bind:key="value" v-for="(value, key) in tileData.tileData">
              <!--<b-list-group-item class="data-key" variant="info"><strong>{{key}}:</strong></b-list-group-item>-->
              <h6 class="key"><strong>{{key}}:</strong></h6>
              <b-list-group-item class="data-val" variant="info">{{value}}</b-list-group-item>
            </b-list-group>
          </b-col>
        </b-row>
      </b-container>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import BaseTileType from '@/types/BaseTileType'
import { TileTypeEnum } from '../types/TileTypeEnum';
import LoginTileType from '../types/LoginTileType';
import ProfileTiletype from '../types/ProfileTileType';

@Component
export default class DashBoardDataTile extends Vue {
    @Prop() private tileData!: BaseTileType;
  }
</script>

<style scoped lang="scss">
  @import '../assets/styles/custom.scss';
  	.data-field {
      text-align: left;
      margin-top: 15px;
      margin-bottom: 15px;
    }

    .data-key {
      padding: 5px;
      color: #0c5460;
    }

    .data-val {
      padding: 5px;
    }

    .tile-container {
      @include global-border-radius(0.3em, 0.3em);
      @include box-shadow-lrb(1px, 1px, 1px, 8px, #333);
      background-color: #d1ecf2;
      padding: 20px;
      margin-top: 15px;
    }


</style>