<template>
    <div class="HarvestNavBar">
        <b-navbar toggleable="sm" type="dark" variant="info">
        <b-navbar-brand :to="{ path: '/' }">Harvest Insurances</b-navbar-brand>
        <b-collapse id="nav-collapse" is-nav>
            <b-navbar-nav>
                <b-link v-if="!loggedIn" :to="{ path: '/login' }">Login</b-link>
                <b-nav-item-dropdown v-if="loggedIn" text="Uitloggen">
                    <b-dropdown-item-button class="submitBtn" variant="danger" :disabled="isDisabled" v-on:click.native="logout()">Uitloggen</b-dropdown-item-button>
                </b-nav-item-dropdown>
                <b-link v-if="!loggedIn" :to="{ path: '/register' }">Registreer</b-link>
                <b-link v-if="loggedIn" :to="{ path: '/dashboard' }">Dashboard</b-link>
            </b-navbar-nav>
        </b-collapse>
        </b-navbar>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Watch, Vue } from 'vue-property-decorator';
import VueCookies from 'vue-cookies';
import LoginModel from '@/types/LoginModel';
import axios from 'axios';
Vue.use(VueCookies)

@Component
export default class NavBar extends Vue {
    @Prop() private loggedIn: string = this.$cookies.get('authToken');
    private isDisabled: boolean = false;

    @Watch('loggedIn')
    onLoggedInChanged(value: boolean, oldValue: boolean) {
        this.loggedIn = this.$cookies.get('authToken');
    }
    
    private logout(): void {
        this.isDisabled = true;
        this.$router.push({ name: "login"})
        this.postPost();
        this.isDisabled = false;
    }

    private async postPost(){    
      await axios.post(process.env.VUE_APP_API_BASE_URL + `/user/session/invalidate`, null, {
        headers: {
         'Content-type': 'application/json',
          'Authorization': "Bearer " + this.$cookies.get('authToken'),
        },
        }).then((response) => {
            this.$cookies.remove("authToken");
            this.loggedIn = '';
        }).catch((error) => {
            this.$cookies.remove("authToken");
            this.loggedIn = '';
        });
    }
}
</script>

<style scoped lang="scss">
    @import '../assets/styles/custom.scss';

    .HarvestNavBar {
        @include box-shadow-lrb(1px, 0px, 0px, 8px, #333);
        margin-top: -60px;
    }

    a {
        color: rgba(255, 255, 255, 0.75);
        text-decoration: none;
        padding: 10px;
    }

    a:hover {
        color: rgba(255, 255, 255, 1.0);
        text-decoration: none;
        padding: 10px;
    }

    .router-link-exact-active {
        color: rgba(255, 255, 255, 1.0);
        text-decoration-line: underline;
    }
</style>